/*#screen-options-link-wrap ,
#contextual-help-link-wrap,
#wp-admin-bar-wp-logo,
#wp-admin-bar-comments,
#wp-admin-bar-new-content,
#wp-admin-bar-site-name,
#wp-admin-bar-edit-profile 
{
	display:none
}*/

.tab-content #side-sortables,
#screen-meta-links{
	display:none;
}
	
.visible {
	opacity: 1;
}

.invisible {
	opacity: 0;
}

#the-list .inactive{
	display: table-row;
}
