/*#screen-options-link-wrap ,
#contextual-help-link-wrap,
#wp-admin-bar-wp-logo,
#wp-admin-bar-comments,
#wp-admin-bar-new-content,
#wp-admin-bar-site-name,
#wp-admin-bar-edit-profile 
{
	display:none
}*/

.tab-content #side-sortables,
.toplevel_page_dp_page #screen-meta-links{
	display:none;
}
	
.visible {
	opacity: 1;
}

.invisible {
	opacity: 0;
}

#poststuff #submitalldiv .inside {
    margin: 0px;
    padding: 0px;
}

#submitall{
	padding:10px;
	clear:both;
	border-top:1px solid #ddd;
	background:#f5f5f5;
	text-align: right;
}


/*Make update notice larger*/
div.updated p{
	font-size: 16px;
}

#the-list .inactive{
	display: table-row;
}

/* Update Icons */

/* Courses: Pencil */
#menu-posts-courses .wp-menu-image:before{
	content: "\f327" !important;
}

/* Programs: Grad Cap */
#menu-posts-programs .wp-menu-image:before{
	content: "\f118" !important;
}

/* Faculty: People */
#menu-posts-faculty .wp-menu-image:before{
	content: "\f307" !important;
}

/* Department: Clipboard */
#menu-posts-departments .wp-menu-image:before{
	content: "\f119" !important;
}

/* Polciies: key */
#menu-posts-policies .wp-menu-image:before{
	content: "\f112" !important;
}

/* Staract: star */
#menu-posts-staract .wp-menu-image:before{
	content: "\f155" !important;
}

/* Plans: map */
#menu-posts-plans .wp-menu-image:before{
	content: "\f231" !important;
}

/* Proposals and Memos: Briefcase */
#toplevel_page_proposals .wp-menu-image:before{
	content: "\f233" !important;
}

/* View All: Briefcase */
#toplevel_page_dp_page .wp-menu-image:before{
	content: "\f322" !important;
}