#wp-toolbar > ul > li {
    display: block;
}

#adminmenuback,
#adminmenuwrap,
.add-new-h2{
	display: none;
}

#wpcontent, #wpfooter {
	margin-left: 45px;
}

#wp-admin-bar-csun_dashboard_link .ab-icon:before{
	content: "\f102";
}

#wp-admin-bar-csun_progam_link .ab-icon:before{
	content: "\f118";
}

#wp-admin-bar-csun_course_link .ab-icon:before{
	content: "\f327";
}

#wp-admin-bar-csun_file_link .ab-icon:before{
	content: "\f233";
}